
// Base Application Styles
@import 'node_modules/hel-bootstrap-3/src/sass/helsinki-variables';
@import 'node_modules/hel-bootstrap-3/src/sass/application-variables'; // Copy and edit this file to customise your app theme
@import 'node_modules/hel-bootstrap-3/src/sass/theme-bootstrap-variables';
@import 'bootstrap-custom';
@import 'node_modules/hel-bootstrap-3/src/sass/theme-custom-styles';

body {
  background: $gray-lighter;
  padding-top: $navbar-height;
}

.index {
  margin-top: $line-height-computed * 2;
}

.index .notice {
  background: #666;
  border: 1px solid #000;
  border-width: 1px 0;
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.login-box {
  background-color: $hel-suomenlinna;
  text-align: center;
  position: relative;
  box-shadow: 3px 3px 3px rgba($black, 0.5);

  .login-box--content {
    padding: $line-height-computed $line-height-computed $line-height-computed * 4;
  }

  .helsinki-logo {
    @include helsinki-logo($black);
    height: $line-height-computed * 2;
    margin-bottom: $line-height-computed * 2;
    width: 100%;
    background-position: right;
  }

  .login-koro {
    @include koro("beat", $hel-metro, 200);
    width: 100%;
    height: $line-height-computed * 3;
    position: absolute;
    bottom: 0;
  }
}


.main-content {
  margin-top: $line-height-computed * 3;
}

// Task Listing View

.tasks-panel {
  .panel-heading {
    font-weight: 700;
  }
}

.workspace-select {
  margin-bottom: $line-height-computed / 2;
}

.tasks-search {
  margin-bottom: 0;
}

.task-listing-item-actions {
  .time-task-button {
  }
}

.task-source {
  a {
    @extend small;
    color: $gray-light;
    text-decoration: none;
  }
  .task-source-icon {
    font-size: 1.25em;
  }
  .task-source-header {
    margin-left: .5em;
  }
}

// Day View

.current-date {
  h4 {
    margin: 0;
    padding: 6px 0 0;
    text-align: center;
  }
}

.btn-header {
  padding: 3px 6px;

  .glyphicon {
    font-size: 24px;
  }
}

.timed-task {
  margin-bottom: $line-height-computed / 2;
}

.hours-entry {
  input {
    text-align: center;
    color: $black;
    font-weight: 700;
  }

  .alert {
    margin-bottom: 0;
    padding: $padding-base-vertical $padding-base-horizontal;
    text-align: center;
  }
}

.add-task-prompt {
  color: $gray-light;
  text-align: center;
}

.day-footer {
  background-color: $black;
  color: #fff;

  .day-total {
    border: 2px solid $white;
    font-size: $font-size-large;
    font-weight: 700;
    padding: 6px;
    text-align: center;
  }
}

// Do not collapse Bootstrap navbar
.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li,
.navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-header {
  float: left !important;
  margin-left: 0;
  margin-right: 0;
}

.report-filters {
  margin: $line-height-computed * 2 0;

  .dropdown {
    width: 100%;
    background: $white;

    .btn {
      text-align: left;
    }
  }
}

.timespan-icon {
  text-align: center;
}

.report-contents {
  background-color: $white;
  padding: $line-height-computed * 2 0;
}

.report-table {
  background: $white;
}

.header-section {
  background-color: $hel-suomenlinna;
}