@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bold-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-italic-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'helsinki-avoin';
  src: url('../fonts/helsinkiavoinsans-regular-webfont.woff2') format('woff2'), url('../fonts/helsinkiavoinsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Base Application Styles
@import 'bootstrap-variables';
@import 'bootstrap-custom';

body {
  background: $gray-lighter;
  padding-top: $navbar-height;
}

.index {
  margin-top: $line-height-computed * 2;
}

.index .notice {
  background: #666;
  border: 1px solid #000;
  border-width: 1px 0;
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;

  a {
    text-decoration: none;
  }
}

// Task Listing View

.task-listing-view {
  background: #cdcdcd;
}

.task-listing-item-actions {
  .time-task-button {
    color: #6ec97f;
  }
}

.task-source {
  a {
    @extend small;
    color: $gray-light;
  }

  .task-source-header {
    margin-left: .5em;
  }
}

// Day View

.current-date {
  h4 {
    margin: 0;
    padding: 6px 0 0;
    text-align: center;
  }
}

.hours-entry {
  input {
    text-align: center;
  }

  .glyphicon-plus,
  .glyphicon-minus {
    //color: $brand-primary;
  }

  .glyphicon-trash {
    //color: #c94646;
  }
}

.add-task-prompt {
  color: $gray-light;
  text-align: center;
}

.day-footer {
  background-color: $gray;
  color: #fff;

  .day-total {
    border: 1px solid $gray-light;
    font-size: $font-size-large;
    font-weight: 600;
    padding: 6px;
    text-align: center;
  }
}

// Do not collapse Bootstrap navbar
.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li,
.navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-header {
  float: left !important;
  margin-left: 0;
  margin-right: 0;
}
