
// Base Application Styles
@import 'node_modules/hel-bootstrap-3/src/sass/helsinki-variables';
@import 'node_modules/hel-bootstrap-3/src/sass/application-variables'; // Copy and edit this file to customise your app theme
@import 'node_modules/hel-bootstrap-3/src/sass/theme-bootstrap-variables';
@import 'bootstrap-custom';
@import 'node_modules/hel-bootstrap-3/src/sass/theme-custom-styles';

body {
  background: $gray-lighter;
  padding-top: $navbar-height;
}

.index {
  margin-top: $line-height-computed * 2;
}

.index .notice {
  background: #666;
  border: 1px solid #000;
  border-width: 1px 0;
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;

  a {
    text-decoration: none;
  }
}

// Task Listing View

.task-listing-view {
  background: #cdcdcd;
}

.workspace-select {
  margin-bottom: $line-height-computed / 2;
}

.tasks-search {
  margin-bottom: 0;
}

.task-listing-item-actions {
  .time-task-button {
  }
}

.task-source {
  a {
    @extend small;
    color: $gray-light;
  }
  .task-source-icon {
    font-size: 1.25em;
  }
  .task-source-header {
    margin-left: .5em;
  }
}

// Day View

.current-date {
  h4 {
    margin: 0;
    padding: 6px 0 0;
    text-align: center;
  }
}

.hours-entry {
  input {
    text-align: center;
    border-color: $theme-primary-dark;
  }

  .input-group-btn .btn {
    border-bottom-width: 2px;
    padding: 7px 12px 4px;
  }

  .alert {
    margin-bottom: 0;
    padding: $padding-base-vertical $padding-base-horizontal;
    text-align: center;
  }
}

.add-task-prompt {
  color: $gray-light;
  text-align: center;
}

.day-footer {
  background-color: $gray;
  color: #fff;

  .day-total {
    border: 1px solid $gray-light;
    font-size: $font-size-large;
    font-weight: 600;
    padding: 6px;
    text-align: center;
  }
}

// Do not collapse Bootstrap navbar
.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav>li,
.navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-header {
  float: left !important;
  margin-left: 0;
  margin-right: 0;
}
